:root {
  --main-blue: #347afb;
  --main-dark-blue: #3159d7;
  --main-light-blue: #488fff;


  --support-black: #3a3a3a;
  --support-light-black: #505050;
  --support-page-background: #fafafa;
  --support-white-background: #ffffff;
  --support-white-element: #ffffff;

  --supprot-white-text-color: #ffffff;

  --support-no-active-background: #f8f8f8;
  --support-no-active-element: #d4d4d4;
  --support-separator-gray: #e5e5e5;
  --support-dark-gray: #888888;
  --support-gray: #a8a8a8;
  --support-light-gray: #bababa;

  --additional-error: #fb3434;
  --additional-error-background: #ffeeee;
}
  